---
version: '3'
services:
  bot:
    image: yaakov/reviewbot:latest
    build: .
    restart: always
    links:
      - postgres
    environment:
      - SLACK_BOT_USER_TOKEN
      - POSTGRES_PASSWORD

  postgres:
    image:  reviewbot/postgres 
    restart: always
    build:
      dockerfile: Dockerfile.postgres
      context: .
    environment:
      - POSTGRES_PASSWORD
    ports:
      - "5432:5432"
